/* Yahoo! CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
/* End of Yahoo! CSS Reset */

html {
	height: 100%;
    color: #555;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background: #E6E0DA;
}
.wrapper {
	width: 915px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.hidden {
    display: none;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 70px;
	padding: 20px;
	background: #E6E0DA;
    color: #999;
}

.header h1 {
    font-size: 30px;
    font-family: arial, helvetica, sans-serif;
    line-height: 30px;
    text-transform: uppercase;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 20px 20px 70px;
}

.toolbox > div {
    display: inline-block;
    margin-right: 10px;
}

.search-wrp {
    margin-bottom: 15px;
}

.search-wrp input{
    width: 150px;
}

table {
    width: 100%;
    color: #555;
    margin-bottom: 20px;
}

table thead th {
    background: #fff;
}

table tr td, table tr th  {
    border: 1px solid #999;
}

table tr th {
    padding: 8px 10px;
    font-weight: bold;
}
table tr td {
    padding: 4px 10px;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background: rgba(255,255,255,0.3);
}

#overlay > div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align: left;
}

.overlay-head h3 {
    font-size: 15px;
    margin-bottom: 9px;
    font-weight: bold;
}

.add-new-work-form > div{
    margin-bottom: 10px;
}

.add-new-work-form label{
    vertical-align: top;
    width: 80px;
    display: inline-block;
    margin-bottom: 10px;
}

.add-new-work-form input, .add-new-work-form textarea{
    width: 200px;
}

.edit-work-form > div{
    margin-bottom: 10px;
}

.edit-work-form label{
    vertical-align: top;
    width: 80px;
    display: inline-block;
    margin-bottom: 10px;
}

.edit-work-form input, .edit-work-form textarea{
    width: 200px;
}

.task-closed {
    display: inline-block;
    padding: 3px 10px;
    background: #dbf9b9;
    color: #368316;
    -webkit-border-radius: 1px solid #368316;
    -moz-border-radius: 1px solid #368316;
    border-radius: 1px solid #368316;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 915px;
	margin: -70px auto 0;
	height: 70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #999;
	color: #fff;
	padding: 10px;
	position: relative;
}