<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>TODO: list</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="css/style.css" rel="stylesheet">
</head>

<body ng-app="toDoList">

<div class="wrapper">

	<header class="header">
        <h1>Test</h1>
    </header><!-- .header-->

	<main class="content">



        <div class="task-wrapper" ng-controller="ToDoListController">
            <div class="toolbox">
                <div class="search-wrp">
                    Search: <input ng-model="query"/>
                </div>
                <div class="sort-wrp">
                    Sort by:
                    <select ng-model="orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="id">id</option>
                    </select>
                </div>
                <div class="top-actions right">
                    <button id="add-new-button">Add new</button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Task Name</th>
                        <th>Description</th>
                        <th>Difficulty</th>
                        <th align="center">Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="!tasks.length">
                        <td colspan="6" align="center">No data</td>
                    </tr>
                    <tr ng-hide="!tasks.length" ng-repeat="task in tasks| filter:query | orderBy:orderProp">
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.difficulty }}</td>
                        <td align="center">
                            <button class="close-task" data-id="{{task.id}}" ng-hide="task.status">Complete</button>
                            <span class="task-closed" ng-show="task.status">Task closed</span>
                        <td>
                            <button class="delete-task" data-id="{{task.id}}">Delete</button>
                            <button class="edit-task" data-id="{{task.id}}">Edit</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

	</main><!-- .content -->

</div><!-- .wrapper -->

<div id="overlay">
    <div>
        <div class="overlay-content">
            <form id="add-new-work-form" class="add-new-work-form" action="javascript:void(0)">
                <div class="overlay-head">
                    <h3>Add new work:</h3>
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input id="name" name="name" type="text"/>
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="5"></textarea>
                    <label for="difficulty">Difficulty:</label>
                    <select id="difficulty" name="difficulty">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </form>
            <button type="submit" id="push-new-object">Submit</button>
        </div>
    </div>
</div>


<footer class="footer">
    <p>
        <b>Autor:</b> Maxim Obrubov
    </p>
    <p>
        <b>Contact email:</b> m.obrubov@yandex.ru
    </p>
    <p>
        <b>Contact phone:</b> 8 908 475 77 15
    </p>
</footer><!-- .footer -->
<script type="text/javascript" src="js/action.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/app/controllers.js"></script>
</body>
</html>